* { overflow-x: hidden; }

.header {
  overflow: clip;

  position: fixed;
  top: 0;

  width: 100%;
  height: 200px;
  background-color: #404040;

  z-index: 2;
}

footer > * {
  color: white;
}

body {
  width: 100vw;
  margin: 0px;
  padding-top: 100px;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans 3", sans-serif;
  overflow-y: hidden;
}

h1 {
    font-size: 64pt;
    line-height: 68pt;
    color: white;
}

h2 {
  font-size: 32pt;

  height: fit-content;
  overflow: hidden;
  text-overflow: clip;
}

a {
  height: fit-content;
}

p {
  font-family: "Crete Round", sans-serif;
  font-size: 13pt;
}

ul {
  list-style-type: none;
  padding-left: 3px;
}

li {
  overflow: visible;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

li > a {
  color: white;
  text-decoration: none;
}

.horizontal-list-item {
  float: left;
}

.horizontal-list-text {
  font-size: 40px;
  margin: 75px 0;
}

.main-logo {
  height: 180px;

  top: 10px;
  left: 10%;
  position: relative;
}

.region {
  display: block;
  overflow: hidden;
}

.small-region {
  height: 40vh;
}

.medium-region {
  height: 50vh;
}

.large-region {
  height: 100vh;
}


.horizontal-block {
  display: flex;
  justify-content: center;
  overflow: clip;
}

.flexbox-text {
  position: relative;
}


.banner {
  position: relative;
}

.banner-main-content {
  width: calc(100vw - 25.4%);

  left: 25.4%;
  top: 202px;
  position: relative;
}

.banner-text {
  z-index: 1;
  position: relative;
}

.banner-image {
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  position: absolute;

  height: calc(100vh - 40px);
  object-fit: cover;

  border-radius: 50px;

  filter: brightness(66%) grayscale(15%);
  -webkit-filter: brightness(66%) grayscale(15%);

  z-index: 0;
}


.primary-button-1, .primary-button-2 {
  position: relative;
  display: inline-block;

  font-family: "Roboto", sans-serif;
  font-weight: 100;

  text-align: center;
  text-decoration: none;
  color: black;

  background-color: white;

  z-index: 1;
  transition: background-color 125ms, color 125ms;
}

.primary-button-1:hover, .primary-button-2:hover { color: white; }

.primary-button-2 { border-style: solid; }

.primary-button-1:hover { background-color: #35373b; }

.primary-button-2:hover { background-color: black; border-color: black; }


.horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  position: relative;
  left: 50%; top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1270px) {
  .banner-main-content {
    width: calc(100vw - 10%);
    left: 10%;
    top: 185px;
  }

  .banner-image {
    top: 0px;
    height: 100vh;
    border-radius: 0px;
  }
}

@media screen and (max-width: 870px) {
  .small-region { height: 60vh }
}

@media screen and (max-width: 480px) {
  .banner-text { font-size: 48pt; }
}

@media screen and (max-aspect-ratio: 7/6) {
  .medium-region { height: 80vh }
  .mobile-vertical-block { flex-direction: column; align-items: center;}
  .mobile-vertical-block > img { height: 356.4px; min-height: 30vw;}

  .flexbox-text {
    top: 0;
    text-align: center;
  }

  /*.mobile-vertical-block > .flexbox-text:nth-child(2) {
    top: -25px;
  }*/

  .flexbox-text > p {
    font-size: 11pt;
  }
}
