html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  margin: 0px;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans 3", sans-serif;
}

h1 {
    font-size: 64pt;
    line-height: 68pt;
    color: white;
}

h2 {
  font-size: 32pt;

  height: fit-content;
  overflow: hidden;
  text-overflow: clip;
}

p {
  font-family: "Crete Round", sans-serif;
  font-size: 13pt;
}

.region {
  display: block;
}

.small_region {
  height: 40vh;
}

.medium_region {
  height: 50vh;
}

.large_region {
  height: 100vh;
}


.horizontal_block {
  display: flex;
  justify-content: center;
}

.flexbox_text {
  position: relative;
  top: -35px;
}


.banner {
  position: relative;
}

.banner_main_content {
  width: calc(100vw - 25.4%);

  left: 25.4%;
  top: 202px;
  position: relative;
}

.banner_text {
  z-index: 1;
  position: relative;
}

.banner_image {
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  position: absolute;

  height: calc(100vh - 40px);
  object-fit: cover;

  border-radius: 50px;

  filter: brightness(66%) grayscale(15%);
  -webkit-filter: brightness(66%) grayscale(15%);

  z-index: 0;
}


.primary_button {
  display: inline-block;
  line-height: 55px;

  font-family: "Roboto", sans-serif;
  font-weight: 100;

  text-align: center;
  text-decoration: none;
  color: black;

  background-color: white;

  z-index: 1;
  transition: background-color 125ms, color 125ms;
}

.primary_button:hover {
  background-color: #35373b;
  color: white;
}


.horizontal_center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vertical_center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  position: relative;
  left: 50%; top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1270px) {
  .banner_main_content {
    width: calc(100vw - 10%);
    left: 10%;
    top: 185px;
  }

  .banner_image {
    top: 0px;
    height: 100vh;
    border-radius: 0px;
  }
}

@media screen and (max-width: 1174px) {
  .mobile_vertical_block { flex-direction: column;}
  .flexbox_text {
    top: 0;
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  .small_region { height: 60vh }
  .medium_region { height: 80vh }
}

@media screen and (max-width: 480px) {
  .banner_text { font-size: 48pt; }
}
